<!DOCTYPE html  >
<head>
  <title>System Lux | Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="../assets/logo/favicon.png" type="image/x-icon">

  

  <!-- Cascading Styles Sheets -->
  <link rel="stylesheet" href="../vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="..//vendor/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../vendor/css/style.css">
  <link rel="stylesheet" href="../vendor/css/colors/default.css">
  <link src="https://unicons.iconscout.com/relaease/v2.1.9/css/unicons.css">


  <!-- Custom Css -->
  <link rel="stylesheet" href="../custom css/style.css">

</head>

<body>
  <!-- Section Start -->
  <section class="cover-user bg-white">
    <div class="container-fluid px-0">
      <div class="row no-gutters position-relative">
        <div class="col-lg-4 cover-my-30 order-2" id="formColorBg">
          <div class="cover-user-img d-flex align-items-center">
            <div class="row">
              <div class="col-12">
                <div class="card login-page border-0" style="z-index: 1" id="formColorBg">
                  <div class="card-body p-0">
                    <h4 class="card-title text-center text-white">Please enter valid credentials to access the portal</h4>
                    <hr class="text-white" style="border: solid 1px #fff !important;">
                    <form class="login-form mt-4">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group position-relative text-white">
                            <label>Username <span class="text-danger">*</span></label>
                            <i data-feather="user" class="fea icon-sm icons"></i>
                            <input type="text" class="form-control pl-5" placeholder="username" name="username" required="">
                          </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12">
                          <div class="form-group position-relative text-white">
                            <label>Password <span class="text-danger">*</span></label>
                            <i data-feather="key" class="fea icon-sm icons"></i>
                            <input type="password" class="form-control pl-5" placeholder="Password" required="">
                          </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12">
                          <div class="d-flex justify-content-between">
                            <div class="form-group">
                              <div class="custom-control custom-checkbox">
                              </div>
                            </div>
                            <p class="forgot-pass mb-0 text-white"><a href="#"
                                class="text-dark font-weight-bold text-white" style="color: #fff !important;">Forgot password ?</a></p>
                          </div>
                        </div>
                        <!--end col-->

                        <hr class="text-white" style="border: solid 1px #fff !important; width: 50%;">

                        <div class="col-lg-12 mb-0">
                          <button class="btn btn-primary btn-block">Login</button>
                        </div>
                        <!--end col-->

                        <div class="col-12 text-center text-white">
                          <p class="mb-0 mt-3 text-white"><small class="text-white mr-2">Don't have an account ?</small> <a
                              href="#" class="text-white font-weight-bold">Sign Up</a></p>
                        </div>
                        <!--end col-->
                      </div>
                      <!--end row-->
                    </form>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div> <!-- end about detail -->
        </div> <!-- end col -->

        <div class="col-lg-8 offset-lg-4 padding-less img order-1"
          style="background-image:url('../assets/mainImage/image.png'); font-size: 100px !important;" data-jarallax='{"speed": 0.5}'>
            <div class="navbar-img">
              <img src="../assets/logo/logo.jpg" width="120" class="navbar-logo pl-2" id="logo" alt="logo">
            </div>
        </div>
        <!-- end col -->
      </div>
      <!--end row-->
    </div>
    <!--end container fluid-->
  </section>
  <!--end section-->
  <!-- Section End -->

  <!-- JavaScript Addons -->
  <script src="../vendor/js/jquery-3.5.1.min.js"></script>
  <script src="../vendor/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/js/scrollspy.min.js"></script>
  <script src="../vendor/js/feather.min.js"></script>
  <script src="https://unicons.iconscout.com/relaease/v2.1.9/script/monochrome/bundle.js"></script>
  <script src="../vendor/js/app.js"></script>
</body>

</html>